@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  ::-webkit-scrollbar-thumb{
  @apply bg-gray-100 shadow-sm
  }
  ::-webkit-scrollbar{
  @apply w-3 bg-gray-100
  }
  ::-webkit-scrollbar-thumb{
  @apply rounded-xl bg-black /*color trackbar*/
  }
}
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  color: black !important;
}

/* h1 {
  font-size: 17px !important;
} */

.header-img {
  height: 625px;
}
